/*Background style*/
html {
    height: 100%;
}
body {
	background-image: linear-gradient(#9CB097, #A9A25C);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 15px;
}
#traffic {
  margin-left: 2%;
  width: 70%;
}

/*title and subtile style*/
.title {
font-family: effra, sans-serif;
font-weight: 400;
font-style: normal;
position: relative;
margin-left: 2%;
}

#head {
	font-size: 35pt;
}

/*Styling the body text*/
.text{
	font-family: effra, sans-serif;
font-weight: 400;
font-style: normal;
position: relative;
margin-left: 2%;
max-width: 80%;
text-align: justify;
}

/* Dropdown Button */
.dropbtn {
  background-color: #5A5C44;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: effra, sans-serif;
font-weight: 400;
font-style: normal;
}

/* The container <div> */
.dropdown {
	background-color: #5A5C44;
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E4DFC9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: effra, sans-serif;
font-weight: 400;
font-style: normal;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5A5C44;}
.dropdown-content a:hover {color: #E4DFC9;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #9CB097;}
